-
  const websiteTitle = "HooBank";
  const theAuthor = "Hasan Al-Kaf";
  const websiteDescription = "Created by Hasan Al-Kaf (@hasan_alkaf3)";
  const websiteUrl = "";
  const websiteLogo = "./logo.svg";
  const websiteLogo32x32 = "./hoobank.svg";
  const websiteUsername = "hasan_alkaf3";
  const websiteMention = "@" + websiteUsername;
  const creatorMention = "@hasan_alkaf3";
