link(
  rel="icon",
  type="image/svg+xml",
  href!=websiteLogo32x32
)

style body{background-color:#00040f}.loading-container{box-sizing:border-box;height:97vh;display:flex;justify-content:center;align-items:center}.loading-container .bouncer{display:flex;justify-content:space-between;align-items:flex-end;width:100px;height:100px}.loading-container .bouncer div{width:20px;height:20px;background-color:#07f;border-radius:50%;-webkit-animation:bouncer .5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;animation:bouncer .5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate}.loading-container .bouncer div:nth-child(2){-webkit-animation-delay:.1s;animation-delay:.1s;opacity:.8}.loading-container .bouncer div:nth-child(3){-webkit-animation-delay:.2s;animation-delay:.2s;opacity:.6}.loading-container .bouncer div:nth-child(4){-webkit-animation-delay:.3s;animation-delay:.3s;opacity:.4}@-webkit-keyframes bouncer{100%{transform:translateY(-80px)}}@keyframes bouncer{100%{transform:translateY(-80px)}}
