body {
  background-color: #00040f;

  .loading-container {
    box-sizing: border-box;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .bouncer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100px;
      height: 100px;

      div {
        width: 20px;
        height: 20px;
        background-color: #0077ff;
        border-radius: 50%;
        animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite
          alternate;

        &:nth-child(2) {
          animation-delay: 0.1s;
          opacity: 0.8;
        }

        &:nth-child(3) {
          animation-delay: 0.2s;
          opacity: 0.6;
        }

        &:nth-child(4) {
          animation-delay: 0.3s;
          opacity: 0.4;
        }

        @keyframes bouncer {
          100% {
            transform: translateY(-80px);
          }
        }
      }
    }
  }
}
